<div class="m-4 absolute bottom-0">
    <span
        class="text-md text-clip font-bold tracking-tight text-gray-900 sm:text-sm md:text-md py-2"
    >
        by
        <a
            class="text-transparent text-clip bg-clip-text bg-gradient-to-tr to-orange-600 from-red-600"
            href="https://github.com/muhammed770"
        >
            @muhammedvengalath
        </a>
    </span>
</div>
