<!--begin::Input group-->
<div class="mb-10" data-kt-password-meter="true">
  <!--begin::Wrapper-->
  <div class="mb-1">
    <!--begin::Label-->
    <label
      for="password"
      class="block text-sm font-medium text-gray-700 required"
    >
      Password
    </label>
    <!--end::Label-->
    <!--begin::Input wrapper-->
    <div class="relative mb-3">
      <input
        id="password"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary focus:border-primary sm:text-sm mb-2"
        type="password"
        name="password"
        autocomplete="off"
      />
      <button
        type="button"
        class="absolute inset-y-0 right-0 px-2 flex items-center text-gray-500 hover:text-gray-700"
        data-kt-password-meter-control="visibility"
      >
        <i class="bi bi-eye-slash fs-2"></i>
        <i class="bi bi-eye fs-2 hidden"></i>
      </button>
    </div>
    <!--end::Input wrapper-->
  </div>
  <!--end::Wrapper-->
</div>
<!--end::Input group-->
