---
import Toast from "../components/Toast.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { PUBLIC_SERVER_URL } from "astro:env/client";
interface Props {
	title: string;
}
import { io } from "socket.io-client";

const socket = io(String(PUBLIC_SERVER_URL)); 

socket.on("connect", () => {
	console.log("Connected to WebSocket");

	socket.on("product:create", (data) => {
		console.log("Product created:", data);
	});

	socket.on("product:update", (data) => {
		console.log("Product updated:", data);
	});

	socket.on("product:delete", (data) => {
		console.log("Product deleted:", data);
	});
});

const { title } = Astro.props || "GRAND HOME INTERIOR CLOTHING";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="manifest" href="/manifest.json" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative pb-10 min-w-full">
		<Navbar />
		<slot />
		<!-- <Toast /> -->

		<Footer />
		<script is:inline src="/app.js"></script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
