---
import Layout from "../layouts/Layout.astro";
import { PUBLIC_CLIENT_URL } from "astro:env/client";
import ProductListing from "../components/ProductListing";
const jwtToken = Astro.cookies.get("jwt_token")?.value;
const response = await fetch(`${PUBLIC_CLIENT_URL}/api/verify-user`, {
	method: "GET",
	headers: {
		Authorization: `Bearer ${jwtToken}`,
	},
});
const data = await response.json();
const isAuthenticated = data.isVerified;
console.log("isAuthenticated", isAuthenticated);

const serverUrl = import.meta.env.PUBLIC_SERVER_URL;
---

<Layout title="Products List">
	<main class="product-page">
		<h1
			class="text-xl font-bold tracking-tight text-gray-900 sm:text-md md:text-xl py-2"
		>
			Shop your
			<span
				class="text-transparent bg-clip-text bg-gradient-to-tr to-orange-600 from-red-600"
			>
				favorite products
			</span>
		</h1>
		<ProductListing
			client:only="react"
			serverUrl={serverUrl}
			isAuthenticated={isAuthenticated}
		/>
	</main>
</Layout>

<style>
	.product-page {
		padding: 20px;
		max-width: 1200px;
		margin: 0 auto;
	}

	.product-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 20px;
	}
</style>
